{% extends _layout %}

{% block content %}
  <div id="menu">
    <ul>
      <li>
        <a href="/Htj/jogadores/create">Create Players</a>
      </li>
    </ul>
  </div>
<pre>
{{ print_r(jogadores) }}
</pre>
    <br />
    <br />
    <br />
    <br />

  {% for user in jogadores %}
    {{ user.name }}
    <br />
    {{ user.info }}
    <br />
    <br />
    {% for jogos in user.jogos %}
      <div class="jogo">
        <a href="/Htj/jogos/{{ jogos.gameId }}">Game Link</a>
        <p>Played : {{ jogos.position }} : <div class="stars{{ jogos.stars }}"></div></p>
      </div>
    {% endfor %}
    <br />
    <br />
  {% endfor %}

{% endblock %}
