{% extends _layout %}

{% block content %}
  <div class="menu">
    <ul>
      <li>
        <a href="/jogadores/create">Create Players</a>
      </li>
    </ul>
  </div>
  <h4>
    Active players on the Team: <span  class='player_count'>{{ jogadores|length }}</span>
  </h4>
  <div class="playersList">
    {% for player in jogadores %}
      <div class="player {{ cycle(['odd', 'even'], loop.index) }}">
        <div id="photo">
          <label for="image">{{ player.name }}</label>
          <div class="image"></div>
        </div>
        <div class="playerInfoAll">
          <span class="viewPlayer">
            <a href="/jogadores/view/{{ player.id }}">View Player</a>
          </span>
          <div class="playerInfo">
            {{ player.info }}
          </div>
          {% for jogos in player.jogos %}
            <div class="jogo">
              <a href="/jogos/{{ jogos.gameId }}">Game Link</a>
              <p>Played : {{ jogos.position }} : <div class="stars{{ jogos.stars }}"></div></p>
            </div>
          {% endfor %}
        </div>
        <div class="clearboth"></div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
